/* *** LAYOUT *** */
.event__list {
  @include row--noWrap;
  @include between_start;

  overflow: scroll;
}

/* *** MODULE *** */
.eventsL__listItem {
  min-width: 63vw;
}

.eLi_1__article {
  width: 100%;
}

.eArt_1__img {
  width: 100%;
  height: auto;
}

/* *** STATE *** */

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */
// ipad/ tablet
@media (min-width: 924px) {
  .eventsL__listItem {
    min-width: 0rem;
    width: 50rem;
  }
}

// pc
@media (min-width: 1124px) {
  .eventsL__listItem {
    min-width: 0rem;
    width: 30rem;
  }
}