/* *** LAYOUT *** */

/* *** MODULE *** */
.donations {
  position: sticky;
  background: left / cover no-repeat url("../../../../../assets/static/webp/Sadaqah-Jariyah-islam.webp");

  padding: 9rem;
}

/* *** STATE *** */

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */