/* *** LAYOUT *** */
.sldshw__list {
  @include row--noWrap;
  // @include between_center;

  height: 80vh;

  overflow: scroll;
}

.fArt_1__list--fL_1 {
  @include row--noWrap;
  @include between_start;

  overflow: scroll;

  text-align: center;
}

.nsLi_1__article {
  position: sticky;
}

/* *** MODULE *** */
.slideshow {
  background-color: $secundairy-color5;
}

.sldshwL__listItem {
  min-width: 100vw;
  height: inherit;

  z-index: 0;
}

.sldshwL__listItem--walk {
  position: relative;
  overflow: hidden;

  @include column;
  @include center_center;

  .nsLi_1__article {
    @include column;
    @include center_center;

    background-color: rgba($color: $secundairy-color5, $alpha: .39);

    @include standPadd;
  }

  .nsHdr_1__text {
    text-align: center;

    color: $primary-color2;

    font-size: 5.3rem;
    font-weight: bolder;
  }

  .nsArt_1__text {
    margin: 2rem 0;

    color: $primary-color2;
    font-size: 2rem;
    font-weight: bolder;
  }
}

.nsLi_1__video {
  position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // min-height: 100%;

  // z-index: -100;

  opacity: .9;
}

.fMainHdr_1__text {
  text-align: center;
  margin-top: 3rem;

  color: $primary-color2;

  font-size: 6.3rem;
  font-weight: bolder;
}

.fL_1__listItem {
  min-width: 27rem;
}

.fArt_1__img {
  width: 15rem;
  height: auto;
}

/* *** STATE *** */

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */
// ipad/ tablet
@media (min-width: 1024px) {
  .sldshwL__listItem--walk {
    @include standPadd;

    .nsLi_1__article {
      border-radius: 5rem;
    }

    .nsHdr_1__text {
      font-size: 9.3rem;
    }

    .nsArt_1__text {
      width: 50%;
    }
  }

  .fArt_1__list--fL_1 {
    @include row;
    @include between_start;

    text-align: center;
  }

  .fL_1__listItem {
    width: 25rem;
  }
}

// pc
@media (min-width: 1124px) {
  .fL_1__listItem {
    width: 37rem;
  }
}