$primary-color1: #193E5F; // dark blue
$primary-color2: #fff; // white
$primary-color3: #000; // black

$secundairy-color1: #749ED3; // light blue
$secundairy-color2: #E6A64C; // yellow
$secundairy-color3: #DD7042; // orange
$secundairy-color4: #8B3B27; // red
$secundairy-color5: #A3B475; //green


$brand-color1: #193E5F; // dark blue