/* *** LAYOUT *** */
.container__navbar {
  position: fixed;
  top: 0;

  width: 100vw;
  background-color: $primary-color2;

  z-index: 9;
}

/* *** MODULE *** */

/* *** STATE *** */

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */